<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.papyrus.sirius.uml.diagram.statemachine.Activator"
               id="org.eclipse.papyrus.sirius.uml.diagram.statemachine"
	       name="papyrus_statemachine">
    </component>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="org.eclipse.papyrus.sirius.uml.diagram.statemachine.custom.StateMachineSiriusCreateEditPolicyProvider">
        <Priority
              name="High">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.sirius.refreshExtensionProvider">
     <refreshExtensionProvider
           priority="lowest"
           providerClass="org.eclipse.papyrus.sirius.uml.diagram.statemachine.StateMachineRefreshExtensionProvider">
     </refreshExtensionProvider>
  </extension>
  <extension
        point="org.eclipse.sirius.diagram.ui.formatDataManager">
     <formatDataManagerProvider
           class="org.eclipse.papyrus.sirius.uml.diagram.statemachine.layout.StateMachineDataManagerProvider"
           id="org.eclipse.papyrus.sirius.uml.diagram.statemachine.stateFormatDataManager">
     </formatDataManagerProvider>
  </extension>
</plugin>
