<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram">
         <menu
               icon="icons/new_PapyrusSiriusDiagram.png"
               id="org.eclipse.papyrus.sirius.editor.popupmenu.createsiriusdiagram"
               label="New Sirius Diagram"
               tooltip="The Sirius Diagram Menu">
            <dynamic
                  class="org.eclipse.papyrus.sirius.editor.internal.menus.SiriusDiagramDynamicContribution"
                  id="org.eclipse.papyrus.sirius.editor.internal.menus.DSemanticDiagramDynamicContribution">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.viewType">
      <helper
            class="org.eclipse.papyrus.sirius.editor.internal.viewpoint.CreateSiriusDiagramViewTypeCommandHelper"
            priority="0">
      </helper>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
            actionBarContributorId="org.eclipse.papyrus.sirius.editor.internal.editor.CustomSiriusDiagramActionBarContributor"
            factoryClass="org.eclipse.papyrus.sirius.editor.internal.editor.SiriusDiagramEditorFactory"
            icon="icons/new_PapyrusSiriusDiagram.png"
            order="0">
      </editorDiagram>
      <actionBarContributor
            id="org.eclipse.papyrus.sirius.editor.internal.editor.CustomSiriusDiagramActionBarContributor"
            implementingClass="org.eclipse.papyrus.sirius.editor.internal.editor.CustomSiriusDiagramActionBarContributor">
      </actionBarContributor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.sirius.diagram.DSemanticDiagram"
            class="org.eclipse.papyrus.sirius.editor.internal.adapter.SiriusDiagramViewAdapterFactory">
         <adapter
               type="org.eclipse.papyrus.infra.core.sasheditor.di.contentprovider.IOpenable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.model">
      <model
            classname="org.eclipse.papyrus.sirius.editor.modelresource.SiriusDiagramModel"
            description="Model for Sirius Diagram View editors"
            fileExtension="aird">
      </model>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="org.eclipse.papyrus.sirius.editor.internal.provider.SiriusDiagramLabelProvider">
      </labelProvider>
   </extension>
    <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="org.eclipse.papyrus.sirius.editor.internal.sessions.SessionService"
            id="org.eclipse.papyrus.sirius.editor.sirius.ISiriusSessionService"
            priority="1"
            startKind="startup">
      </service>
   </extension>
   <extension
         point="org.eclipse.sirius.sessionFactory">
      <sessionFactory
            class="org.eclipse.papyrus.sirius.editor.internal.sessions.PapyrusSessionFactory"
            override="org.eclipse.sirius.business.internal.session.SessionFactoryImpl">
      </sessionFactory>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
      <readOnlyHandler
            class="org.eclipse.papyrus.sirius.editor.internal.readonly.SiriusReadOnlyHandler"
            id="org.eclipse.papyrus.sirius.editor.internal.readonly.SiriusReadOnlyHandler"
            priority="25">
         <affinity
               axis="permission">
         </affinity>
      </readOnlyHandler>
   </extension>
</plugin>
