<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.papyrus.uml.sirius.clazz.diagram.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.eclipse.papyrus.uml.sirius.clazz.diagram.Activator"
            id="org.eclipse.papyrus.uml.sirius.clazz.diagram"
            name="Class Diagram">
      </component>
   </extension>


</plugin>
